# Dependencies
node_modules/

# Environment variables
.env
.env.*
!.env.example

# Build files
dist/
build/
out/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/

# Android
.gradle/
local.properties

# IDE
.vscode/
.idea/

# Operating system
.DS_Store
Thumbs.db
desktop.ini